{{yield}}
<div class="frost-info-bar">
  <div class="title">
    {{#yield-slot 'info-bar'}}
      {{yield (block-params this)}}
    {{/yield-slot}}
  </div>
  <div class="top-buttons" background-color='red'>
    {{#yield-slot 'app-actions'}}
      {{yield (block-params (action 'onCreate'))}}
    {{/yield-slot}}
  </div>
</div>
<div class="body">
  {{#yield-slot 'filters'}}
    {{yield (block-params filters onFilter)}}
  {{/yield-slot}}
  <div class="content">
    {{#yield-slot 'controls'}}
      <div class="tools">
        <div class="sort"/>
        {{yield (block-params
          (hash
            pagination=(component
            'frost-object-browser-paginator'
              itemsPerPage=itemsPerPage
              page=computedPageNumber
              total=computedValuesTotal
            )
            expansion=(component
            'frost-object-browser-button-bar'
              detailLevel=detailLevel
              viewLevel=viewSchema
            )
          )
          (action 'onPageChanged')
          (action 'onDetailChange')
        )}}
      </div>
    {{/yield-slot}}
    {{#yield-slot 'view'}}
      {{yield (block-params this (action 'onSelect'))}}
    {{/yield-slot}}
    {{#yield-slot 'selection-actions'}}
      <div class="actions">
        {{yield (block-params
          (hash
            button=(component
            'frost-object-browser-action-bar'
            )
          )
        )}}
      </div>
    {{/yield-slot}}
  </div>
</div>
